:root {
    --primary-color: #F5F5F5;
    --secondary-color: #000000;
    --tertiary-color: #F0F8FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Style Start */
header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
/* Header Style End */


/* Header 1 Style Start */
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 50px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
/* Header 1 Style End */


/* Header a Style Start */
header a {
    text-decoration: none;
    color: var(--primary-color);
}
/* Header a Style End */


/* Header nav Style Start */
header nav {
    margin: 7px 0;
}
/* Header nav Style End */


/* Header nav ul Style Start */
header nav ul {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/* Header nav ul Style End */


/* Header nav ul li a Style Starts */
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
/* Header nav ul li a Style End */


/* Section Style Start */
section {
    padding: 60px;
}
/* Section Style End */


/* Hero Style Start */
.hero {
    background-image: url("../assets/images/anime-girl.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: center;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-text {
    width: 30%;
    text-align: right;
    margin-top: 10%;
    margin-left: 60%;
    color: white;
    font-size: 25px;
    line-height: 1.2;
    text-shadow: 2px 2px black;
}
/* Hero Style End */


/* Section Title Style Start */
.section-title {
    font-size: 48px;
    border-bottom: 4px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: navy;
}

.secondary-border {
    border-color: navy;
}
/* Section Title Style End */


/* About Me Style Start */
.about {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.taylor {
    margin: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    flex: 2;
    display: inline-block;
}

.taylor-img {
    background-image: url("../assets/images/gentry.jpg");
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.about-text {
    padding: 25px;
    line-height: 1.3;
    position: relative;
    font-size: 22px;
    top: 200px;
}
/* About Me Style End */


/* Work Style Start */
.grid-container {
    display: grid;
    gap: 10px;
}

.grid-item-big {
    width: 100%;
    border-radius: 14px;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    background-image: url("../assets/images/hero-bg.jpg");
    text-shadow:2px 2px black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px black;
    grid-column: 1/4;
    grid-row: 1/8;
}

.grid-item {
    width: 100%;
    border-radius: 14px;
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 15px black;
}

.grid-item span, .grid-item-big a {
    margin-top: auto;
    width: 100%;
    color: var(--primary-color);
    text-shadow: 2px 2px black;
    padding: 10px 5px;
    text-align: left;
    text-decoration: none;
}

.photo {
    background-image: url("../assets/images/camera.jpeg");
    grid-column: 4/6;
    grid-row: 1/4;
}

.music {
    background-image: url("../assets/images/music.jpeg");
    grid-column: 6/8;
    grid-row: 1/4;
}

.tech {
    background-image: url("../assets/images/laptop.jpeg");
    grid-column: 4/6;
    grid-row: 4/8;
}

.play {
    background-image: url("../assets/images/gundam.jpeg");
    grid-column: 6/8;
    grid-row: 4/8;
}

.grid-item-big:hover, .photo:hover, .music:hover, .tech:hover, .play:hover {
    opacity: 0.5;
}
/* Work Style End */


/* Contact Me Style Start */
.links {
    padding: 20px 35px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phone .email .github .linkedin {
    flex: 1;
    margin: 15px;
}

.phone a, .email a, .github a, .linkedin a {
    color: var(--secondary-color);
    text-decoration: none;
}

.phone a:hover, .email a:hover, .github a:hover, .linkedin a:hover {
    background: lightskyblue;
    color: var(--secondary-color);
    border-radius: 200%;
    text-shadow: none;
} 
/* Contact Me Style End */
